<div class="margintop60 hidden-xs"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-title">rcn roadmap</div>
      <div class="margintop20"></div>
      <app-timeline></app-timeline>
    </div>
  </div>
  <div class="margintop100"></div>
  <div class="row">
    <div class="col-xs-12">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi neque minima nobis. Maiores maxime eaque modi doloribus, delectus, autem exercitationem veniam fugit excepturi, reprehenderit voluptatibus natus molestiae nemo accusantium fuga perspiciatis hic velit voluptates sapiente corrupti? Adipisci quae saepe eos enim perspiciatis neque odio perferendis beatae necessitatibus magnam! Fuga corrupti dolorum quibusdam, ipsa, quos, fugiat iusto nulla itaque ullam sit repellendus totam ea in nobis dignissimos laboriosam quis libero facere tempore suscipit illo. Dignissimos rerum, reiciendis inventore dolorem cum molestias consequatur provident. Repudiandae, pariatur quis ab eligendi nobis dolore veritatis cumque atque? Eaque repellendus sunt ratione voluptate beatae sed recusandae?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi neque minima nobis. Maiores maxime eaque modi doloribus, delectus, autem exercitationem veniam fugit excepturi, reprehenderit voluptatibus natus molestiae nemo accusantium fuga perspiciatis hic velit voluptates sapiente corrupti? Adipisci quae saepe eos enim perspiciatis neque odio perferendis beatae necessitatibus magnam! Fuga corrupti dolorum quibusdam, ipsa, quos, fugiat iusto nulla itaque ullam sit repellendus totam ea in nobis dignissimos laboriosam quis libero facere tempore suscipit illo. Dignissimos rerum, reiciendis inventore dolorem cum molestias consequatur provident. Repudiandae, pariatur quis ab eligendi nobis dolore veritatis cumque atque? Eaque repellendus sunt ratione voluptate beatae sed recusandae?</p>
    </div>
  </div>
</div>
<div class="margintop60"></div>