<!-- <p>roadmap-container works!</p> -->

<ul *ngFor='let priority of oRoadmap'>
  <li class="margintop20" *ngFor='let timelineComponent of oRoadmap[1]'> 
    <!-- {{ priority.timelineComponent | json }} -->
    <div>{{ priority.timelineComponent[0].mainTitle | json }}</div>
    <div>{{ priority.timelineComponent[0].timeline | json }}</div>
  </li>
</ul>

<!-- <div class="asd">{{ oRoadmap | json }}</div>
<div class="asd">{{ oRoadmap[0] | json }}</div>
<div class="asd">{{ oRoadmap[0].obj | json }}</div> -->
