<div class="roadmap">
  <section id="{{i}}" class="priority" *ngFor="let priority of oRoadmap; index as i" [attr.data-index]='i'>

    <div class="time-line arrow-{{i}}"><div class="line"></div><div class="circle"></div><div class="line"></div><div class="circle"></div><div class="line"></div><div class="arrow"></div></div>
    <div class="main-title">{{ priority.mainTitle }}</div>

    <button mat-raised-button
    matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over">
      Action
    </button>

    <div class="index-circle"
      mat-raised-button
      matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over">
      <div class="index">{{ priority.index }}</div>
    </div>

    <div class="component" *ngFor='let component of priority.listComponent'> 
      <div class="time-line"><div class="line"></div><div class="circle"></div><div class="line"></div><div class="circle"></div><div class="line"></div></div>

      <div class="title">{{ component.title }}</div>
      <div class="subtitle">{{ component.subtitle }}</div> 
      <p>{{ component.paragraph }}</p>

      <div class="icon-block">
        <ul>
          <li *ngFor='let icon of component.iconBlock'>
            <a href="{{ icon.href }}" target="_blank">
              <i class="{{ icon.class }}"></i>
            </a>
          </li>
          <li *ngFor='let team of component.teamBlock'>
            <a href="{{ team.href }}" target="_blank">
              <img src="{{ team.src }}">
            </a>
          </li>
        </ul>
      </div>
    </div>

  </section>
</div>