<div class="index-circle">
  <div class="index">{{ '1' }}</div>
</div>

<div class="time-line">
  <div class="line"></div>
  <div class="circle"></div>
  <div class="line"></div>
  <div class="circle"></div>
  <div class="line"></div>
</div>

<div class="title">DApp SDK</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eligendi, consequuntur culpa distinctio error nostrum odio. Repellendus eveniet sapiente perspiciatis qui, odit praesentium neque blanditiis, non quos voluptates minima hic nobis, aut dicta beatae cum a nesciunt quidem veniam vel corporis voluptatibus quam sequi. Excepturi earum incidunt sed modi numquam.</p>

<div class="icon-block">
  <ul>
    <li><i class="far fa-file-pdf"></i></li>
    <li><i class="fab fa-github"></i></li>
    <li><i class="fab fa-searchengin"></i></li>
    <li><i class="far fa-file-code"></i></li>
  </ul>
</div>