<app-main-title></app-main-title>
<div class="margintop60"></div>
<app-index-circle></app-index-circle>
<app-time-line></app-time-line>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>

<div class="margintop60"></div>
<app-time-line></app-time-line>
<div class="margintop60"></div>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>

<div class="margintop60"></div>
<app-time-line></app-time-line>
<div class="margintop60"></div>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>

<div class="margintop60"></div>
<app-index-circle></app-index-circle>
<app-time-line></app-time-line>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>

<div class="margintop60"></div>
<app-time-line></app-time-line>
<div class="margintop60"></div>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>

<div class="margintop60"></div>
<app-arrow></app-arrow>
<div class="margintop60"></div>
<app-main-title></app-main-title>
<div class="margintop60"></div>
<app-index-circle></app-index-circle>
<app-time-line></app-time-line>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>

<div class="margintop60"></div>
<app-time-line></app-time-line>
<div class="margintop60"></div>
<app-title></app-title>
<app-paragraph></app-paragraph>
<app-icon-block></app-icon-block>
<div class="margintop60"></div>
<app-time-line></app-time-line>