<div class="header-container">
  <ul>
    <li>
      <a href="#0"><span class="visible-xs">0</span><span class="hidden-xs">Priority 0</span></a>
    </li>
    <li>
      <a href="#1"><span class="visible-xs">1</span><span class="hidden-xs">Priority 1</span></a>
    </li>
    <li>
      <a href="#2"><span class="visible-xs">2</span><span class="hidden-xs">Priority 2</span></a>
    </li>
    <li>
      <a href="#3"><span class="visible-xs">3</span><span class="hidden-xs">Priority 3</span></a>
    </li>
    <li>
      <a href="#4"><span class="visible-xs">4</span><span class="hidden-xs">Priority 4</span></a>
    </li>
    <li>
      <a href="#5"><span class="visible-xs">5</span><span class="hidden-xs">Priority 5</span></a>
    </li>
  </ul>
</div>