@import '../../../scss/_variables.scss'; //variables

.header-container{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  background-color: $primary;
}
ul{
  max-width: 600px;
  margin: 0 auto;
  li{
    cursor: pointer;
    outline: 0px;
    width: 16.6%;
    font-size: 14px;
    color: $secondary;
    padding: 15px 0;
    text-align: center;
    @extend %font-bold;
    display: inline-block;
    border-bottom: 3px solid transparent;
    &:hover{
      border-bottom: 3px solid black;
      @include transition;
    }
  }
}

@media (min-width: 768px){
  .header-container{
    position: relative;
    bottom: initial;
    background-color: $primary;
  }
}