<div class="header-container">
  <ul>
    <li>
      <span class="visible-xs">0</span>
      <span class="hidden-xs">Priority 0</span>
    </li>
    <li>
      <span class="visible-xs">1</span>
      <span class="hidden-xs">Priority 1</span>
    </li>
    <li>
      <span class="visible-xs">2</span>
      <span class="hidden-xs">Priority 2</span>
    </li>
    <li>
      <span class="visible-xs">3</span>
      <span class="hidden-xs">Priority 3</span>
    </li>
    <li>
      <span class="visible-xs">4</span>
      <span class="hidden-xs">Priority 4</span>
    </li>
    <li>
      <span class="visible-xs">5</span>
      <span class="hidden-xs">Priority 5</span>
    </li>
  </ul>
</div>