// Custom Custom Style
@import './scss/_spaces.scss', //spaces
        './scss/_variables.scss', //variables
        './scss/_mixins.scss', //mixins
        './scss/_colors.scss', //colors
        './scss/_helpers.scss', //helpers
        './scss/_fonts.scss'; //fonts


// General
html {height: 0;}
body{
  margin: 0;
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: $tertiary;
  background-color: $secondary;
}

.img-container{
  padding: 50px 0;
  img{
    width: 180px;
    margin: 0 auto;
    &.footer-logo{
      width: 120px;
    }
  }
}
.footer-line{
  border-bottom: 6px solid $primary;
}