@import '../../../scss/_variables.scss'; //variables

.index-circle {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $primary;
  margin: 0 auto;
}
.index {
  color: white;
  font-size: 32px;
  line-height: 1;
  @extend %font-bold;
  @extend %absolute-center;
}